{% extends 'base.html' %}
{% load i18n %}

{% block content %}
	<div class="card text-black mx-auto mt-5" style="width: 500px;">
        <div class="card-body text-center">
            <h2 class="h1 card-title">{% translate "Eliminando tarjeta" %} {{ tarjeta }}</h2>
            <div class="card-body">
                <form class="form form-login h-25" method="post">
                    {% csrf_token %}
                    <a href="javascript:history. back()" class="btn btn-lg btn-dark mt-3">{% translate "Cancelar" %}</a>
                    <button type="submit" class="btn btn-lg btn-dark mt-3">{% translate "Eliminar" %}</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
