{% extends 'base.html' %}
{% load i18n %}

{% block content %}
	<div class="card text-black mx-auto mt-5" style="width: 650px;">
        <div class="card-body text-center">
            <h2 class="h1 card-title">{% translate "Añadiendo tarjeta" %}</h2>
            <div class="card-body">
                <form class="form form-login h-75" method="post">
                    {% csrf_token %}
                    {% for f in form %}
                        <div class="mb-3"><label>{{ f.label }}</label>{{ f }}</div>
                        {{ f.errors }}
                    {% endfor %}
                    <button type="submit" class="btn btn-lg btn-dark mt-3">{% translate "Add" %}</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
