.card-index{
    transition: all 0.2s;
}

.card-index:hover{
    transform: translateY(-10px);
}

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-login div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-login label{
    font-size: large;
}


.form-login input, .form-login select{
    width: 300px;
    padding: 5px;
    border-radius: 5px;
}


.form-login .errorlist{
    list-style-type: none;
    padding: 0;
    color: red;
    font-weight: bold;
}

legend{
    font-size: medium;
}