{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h2 class="h1 text-center">{% translate "Tu carrito" %}
      {% if carrito %}
      <a href={% url "carrito checkout" %} class="btn btn-success ms-3">{% translate "Comprar" %}</a>
      {% else %}
      <button class="btn btn-success ms-3" disabled>{% translate "Comprar" %}</button>
      {% endif %}
    </h2>
    <hr>
        <table class="table table-striped table-dark w-100 align-middle">
        <thead class="text-center">
          <tr>
            <th scope="col">{% translate "Producto" %}</th>
            <th scope="col">{% translate "Cantidad" %}</th>
            <th scope="col">{% translate "Precio" %}</th>
            <th scope="col">{% translate "Modificar" %}</th>
            <th scope="col">{% translate "Eliminar" %}</th>
          </tr>
        </thead>
           <tbody class="text-center">
           {% for p in carrito %}
               <tr>
                 <th scope="row">{{ p.producto.name }}</th>
                 <td>{{ p.cantidad }}</td>
                 <td>{% widthratio p.producto.precio 1 p.cantidad %}€</td>
                   <td>
                     <form method="POST"  action={% url "carrito update" pk=p.producto.pk %}>
                         {% csrf_token %}
                         <input type="hidden" name="next" value="{{ request.path }}">
                         <input type="number" name="cantidad" value="{{ p.cantidad }}">
                         <button type="submit" class="btn btn-info">{% translate "Editar" %}</button>
                     </form>
                 </td>
                 <td>
                     <form method="POST"  action={% url "carrito delete" pk=p.producto.pk %}>
                         {% csrf_token %}
                         <input type="hidden" name="next" value="{{ request.path }}">
                         <button type="submit" class="btn btn-danger">{% translate "Borrar" %}</button>
                     </form>
                 </td>
               </tr>
            {% endfor %}
           </tbody>
        </table>


{% endblock %}
