{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <form class="border border-white p-4 w-25" method="get" action="">
        <h4 class="h3">{% translate "Filtrar productos" %}</h4>
        {% for f in form %}
                        <div class="mb-3"><label>{{ f.label }}</label>{{ f }}</div>
                        {{ f.errors }}
                    {% endfor %}
        <button type="submit" class="btn btn-primary mt-3">{% translate "Buscar" %}</button>
        <button type="reset" class="btn btn-secondary mt-3">{% translate "Limpiar" %}</button>
    </form>
    <div class="d-flex justify-content-center align-items-center gap-3"><h2 class="h1 text-center">{% translate "Comprar productos" %}</h2></div>
    <hr>
    <div class="d-flex justify-content-center flex-wrap col-9 mx-auto gap-3">
        {% for p in object_list %}
            <a href="{% url "checkout" id=p.id %}" class="text-decoration-none text-black card-index">
                <div class="card text-black" style="width: 300px; height: 300px">
                    <div class="card-body text-center">
                            <h2 class="card-title">{{ p.name }}{% if p.vip %}
                            	(VIP)
                            {% endif %} </h2>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li><b>{% translate "Marca" %}: </b>{{ p.marca }}</li>
                                    <li><b>{% translate "Modelo" %}: </b>{{ p.modelo }}</li>
                                    <li><b>{% translate "Unidades" %}: </b>{{ p.unidades }}</li>
                                </ul>
                                <h3 class="text-center text-danger">{{ p.precio }}€</h3>
                            </div>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>

{% endblock %}
