{% extends 'base.html' %}
{% load i18n %}
{% load i18n %}

{% block content %}
    <form class="border border-white p-4 w-25" method="get" action="">
        <h4 class="h3">{% translate "Filtrar Productos" %}</h4>
        {% for f in form %}
                        <div class="mb-3"><label>{{ f.label }}</label>{{ f }}</div>
                        {{ f.errors }}
                    {% endfor %}
        <button type="submit" class="btn btn-primary mt-3">{% translate "Buscar" %}</button>
        <button type="reset" class="btn btn-secondary mt-3">{% translate "Limpiar" %}</button>
    </form>
    <div class="d-flex justify-content-center align-items-center gap-3"><h2 class="h1 text-center">{% translate "Listado de productos" %}</h2><a href="{% url "add_product" %}" class="btn btn-lg btn-success" >{% translate "Añadir" %}</a></div>
    <hr>
    <div class="d-flex justify-content-center flex-wrap col-9 mx-auto gap-3">
        {% for p in object_list %}
            <div class="card text-black" style="width: 300px; height: 325px">
                <div class="card-body text-center">
                        <h2 class="card-title">{{ p.name }}{% if p.vip %}
                        	(VIP)
                        {% endif %} </h2>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><b>{% translate "Marca" %}: </b>{{ p.marca }}</li>
                                <li><b>{% translate "Modelo" %}: </b>{{ p.modelo }}</li>
                                <li><b>{% translate "Unidades" %}: </b>{{ p.unidades }}</li>
                                <li><b>{% translate "Precio" %}: </b>{{ p.precio }}€</li>
                            </ul>
                            <div class="col-12 row mx-auto justify-content-around">
                                <a href="{% url "edit_product" pk=p.id  %}" class="btn btn-info col-5">{% translate "Editar" %}</a>
                                <a href="{% url "delete_product" pk=p.id %}" class="btn  btn-danger col-5">{% translate "Borrar" %}</a>
                            </div>
                            <form method="POST" class="mt-3" action={% url "carrito" pk=p.pk %}>
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button type="submit">{% translate "Añadir al carrito" %}</button>
                            </form>
                        </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
